# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Environment
# =========================
.env

# =========================
# Data (🔥 중요)
# =========================
data/
*.mp4
*.avi
*.jpg
*.png

# =========================
# Model
# =========================
runs/
*.pt

# =========================
# Output
# =========================
outputs/
*/outputs/

# =========================
# VSCode
# =========================
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db